/*      Con # llama al ID    -   Con . llama a la clase     */
*{
    margin: 0;
    padding: 0;     /*Relleno*/
    
}
P { text-indent: 1em }

h5
{
    float: right;
    margin-top: 100px;
}
h2
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

body
{
    background-color:  #5c9abb;
  /* background: linear-gradient(90deg, #5c9abb 60%, #f8f1e5 40%);*/
    font-family: 'Roboto', sans-serif;   
}

#contenido1
{
    width: 70%;
    margin: 1px auto;
    border: 1px solid black;
}
header
{
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #f8f1e5;   
    border-bottom: 5px inset  gray;
}

nav
{
    background: indianred;
    height: 40px;
}

nav ol li
{   
    float: left;
    margin: 10px;
    list-style-type: none;
}

.Espacio
{
    clear: both;
}

#Contenido2
{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    width: 60%;
}

aside
{ 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    width: 31%;
    height: 100%;
}

aside ul li a img
{
    width: 20%;
    height: 20%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

img
{
    
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    width: 100px;
    height: 150;
}
a
{
    width: 500px;
    height: 1000px;
}

#contacto li
{
    text-align: center;
    list-style-type: none;

}
.tareas li
{
    margin-left: 30px;
    padding: 0;
}
footer h3
{
    margin-bottom: 10px;
}
footer
{
    border-top: 5px solid gray;
    background: indianred;
    text-align: center;
}

form label
{
    margin-top: 5px;
    margin-bottom: 5px;
}
form input
{
    margin-top: 5px;
    margin-bottom: 5px;
}
footer p
{
    font-size: x-small;
    background-color: black;
    color: white;
}

video
{
    text-align: end;
    float: right;
    width: 90%;
    height: 90%;
}